* {
  margin: 0;
  padding: 0; }

/* variables */
/* ======== */
/* maps */
.text-parrafos {
  color: #ffff; }

.text-resaltado {
  color: #ffc107; }

.text-subtitulos {
  color: #0D6EFD; }

/* mixin */
body {
  background-color: #000b12;
  overflow-x: hidden;
  color: #ffebcd;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px; }

#menu a, #menu button {
  font-size: 18px;
  font-weight: bold; }

#menu button {
  border-radius: 40px; }

.containerMain {
  margin-bottom: 5%; }

.title-main {
  font-size: 30px;
  color: #ffebcd; }

.imgMain {
  max-height: 40rem; }

.mainIndex {
  position: relative; }

.infoKyra {
  font-size: 1rem; }

.textMain {
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%; }

table {
  display: block;
  overflow-x: auto; }

footer {
  display: block; }

.coinRune {
  width: 15rem; }

.infoRune {
  font-size: 1rem;
  color: white; }

.main__parrafo {
  font-size: 1rem; }

.Defi__item {
  font-size: 1rem; }

.infometa {
  font-size: 1.3rem; }

.titleMeta {
  font-size: 1.5rem; }

.boton:hover {
  color: #a10a0a;
  box-shadow: 0 15px 20px #ac3137;
  transition: all 0.4s ease; }

.listcompra {
  font-size: 25px;
  font-weight: bold; }

section #contact {
  background-color: #212529;
  background-position: center; }

.form-group {
  margin-bottom: 1.5rem; }
  .form-group input {
    padding: 1.25rem; }
  .form-group textarea {
    padding: 1.25rem; }
  .form-group input.form-control {
    height: auto; }

.form-group-textarea {
  height: 100%; }
  .form-group-textarea textarea {
    height: 100%;
    min-height: 10rem; }

.inputform {
  margin-right: 1rem; }

@media (min-width: 992px) {
  #menu a, #menu button {
    font-size: 30px;
    font-weight: bold; }
    #menu a:hover, #menu button:hover {
      color: #fff; }
  .title-main {
    font-size: 4rem;
    color: #ffebcd;
    line-height: 7rem; }
  .title {
    font-size: 4rem; }
  .titleRune {
    font-size: 4rem;
    font-size: 4rem; }
  .infoRune {
    font-size: 1.5rem;
    font-size: 1.5em;
    color: white; }
  .infoKyra {
    font-size: 1.8rem; }
  .parrafo__defi {
    font-size: 1.5rem; }
  .main__parrafo {
    font-size: 1.8rem; } }

@media screen and (max-width: 767px) {
  .compraApe {
    margin-top: 3rem; }
  .inputform {
    margin-top: 1rem; }
  .infoKyra .inforune {
    font-size: 1rem; } }

@media screen and (min-width: 768px) and (max-width: 991px) {
  .infoKyra .inforune .main__parrafo .parrafo__defi .infometa {
    font-size: 1.3rem; }
  .titleMeta {
    font-size: 1.6rem; } }
